* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  position: relative;

  


  header {
    background-color: peachpuff;
    width: 100vw;
    display: block;
  }

  section {

    
    &.game {
      margin-top: 40px;
      
      p {
        max-width: 120px;
        font-size: 14px;
        display: block;
        position: absolute;
        top: 430px;
        left: 20px;
        padding: 5px;
        border: 2px solid rgb(117, 117, 156);
       }
    }

    &.buttons {
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: left;
      

      button {
        margin-left: 30px;
        font-size: 18px;
        font-weight: 900;
      }
      
    }

    &.boxandhand {
      display: flex;
      flex-direction: column;
      justify-content: left;
      position: relative;
    }

    div {
      &#head {
        max-width: 350px;
        width: 350px;
        height: 350px;
        position: absolute;
        top: 30px;
        left: 5px;

        img {
          width: 100%;
          height: auto;
        }
      }

      &#hand {
        width: 220px;
        max-width: 220px;
        height: 300px;
        position: absolute;
        top: 400px;
        left: 210px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }  
}



