* {
  border: none;
  margin: none;
  box-sizing: border-box;
}

body {
  width: 100vw;

  header {
    background-color: peachpuff;
    width: 100vw;
    display: block;
  }

  section {
    
    &.game {
      display: block;
    }

    div {
      &#box {
        width: 200px;
        height: 200px;
        background-color: rgb(57, 104, 104);
      }

      &#hand {
        width: 40px;
        height: 40px;
        background-color: palegoldenrod;
      }
    }
  }  

}



